
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */


body {
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #888;
    background-color: #f4e6da;
}

body.wait, body.wait *{
 cursor: wait !important;   
}

.btn {
    cursor: pointer;
}

.font-red {
	color: red;
}

span.close {
  color: black;
}

td.edit-cell{
  background-color: #fff;
}

td.display-cell{
  background-color: transparent;
}

.save_row{
  display: none;
}

a.btn-primary{
	color: #fff !important;
}
 
.navbar-default {
    background-color: #f4e6da;
    border-color: #000;
    color: black;
}

.navbar-default  .navbar-brand{
    background-color: #f4e6da;
    border-color: #000;
    color: black;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav:hover, .navbar-default .navbar-nav:focus {
    color: #fff;
    background-color: transparent;
}

.navbar {
	min-height:100px;
}

h1, h2
{
	text-align: center;
}

.container {
  padding-top: 100px;
  padding-bottom: 20px;
}

.navbar-default .navbar-nav>.active>a,  .navbar-default .navbar-nav>li>a,h1, h2, h3, h4, h5, h6,thead,tfoot
{
    color: black;
    background-color: transparent;
}

.navbar-default .navbar-brand>.active>a,  .navbar-default .navbar-brand>.active>a:focus {
    color: black;
    background-color: transparent;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f4e6da;
}

table.dataTable tbody tr.even {
    background-color: #f4e6da;
}

table.dataTable tbody tr.odd {
    background-color: #c0c0c0;
    color: #ffffff;
}

.alert-success,.btn-primary, .open .dropdown-toggle.btn-primary,\ {
    color: #fff;
    background-color: #473c52;
    border-color: #96dbd4;
}

.btn-primary:hover, .btn-primary:focus{
    color: #fff;
    background-color: #96dbd4;
    border-color: #473c52;
}

table {
    max-width: 100%;
    background-color: #f4e6da;
}




/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}


/* The Close Button */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #f4e6da;
  color: black;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #f4e6da;
  color: black;
}

.modal-content {
  position: relative;
  background-color: #f4e6da;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

