<!DOCTYPE html>
<html lang="en" class="no-js">
{% set modernizer_version = '2.6.2' %}
{% set jquery_version = '1.9.1' %}
{% set parsley_version = '1.1.16' %}
{% set awesome_version = '4.0.1' %}
{% set bootswatch_version = '3.0.0' %}
{% set bootswatch_theme = 'cyborg' %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% block title%}Sales Inventory - Color Orchids{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/{{ awesome_version }}/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/r-2.1.1/datatables.min.css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
    <link href="/static/css/jquery.notifyBar.css" rel="stylesheet" />
    <link href="/static/css/lugo.datepicker.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    {% block style_block %}{# page-specific CSS #}{% endblock %}
    <script src="/static/js/modernizr-custom.js"></script>{# Modernizr must be here, above body tag. #}
    <script src="/static/js/d3.min.js"></script>
    {% block head_script %}{# defer-incapable JS block #}{% endblock %}
</head>
<body>


        {% include 'includes/nav.html' %} {# pull in navbar #}
    <div class="container" id="maincontent">
        
        {% include 'includes/flash_message.html' %} {# page-level feedback notices #}
        <div id="body_content">	
            {% block content %}{# main content area #}{% endblock %}
        </div>
    </div><!-- /container -->
    <footer>
        <div id="footer" class="container">
            {% block footer %}{% endblock %}
        </div><!-- /footer -->
    </footer>
    
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/r-2.1.1/datatables.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/parsley.min.js"></script>
    <script src="/static/js/jquery.notifyBar.js"></script>
    <script src="/static/js/main.js"></script>
    {% block tail_script %}{# defer-capable JS block #}{% endblock %}
    {{ profiler_includes|safe }}
    <div id="delete_modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this Record?</p>
      </div>
      <div class="modal-footer">
        <button id="modal_del_btn" type="button" class="btn btn-primary">Yes Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Never Mind</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
