{% extends "base.html" %}
{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}


    <div class="row">
       <div class="col-xs-12 col-md-12"><h2>Sales Inventory Home</h2></div>
       <p>Date: <input type="text" id="datepicker"><BR> Select A Different Week</p>
       <div class="col-xs-6 col-md-4"><img src="/static/img/bonita.jpg" alt="CO colorchids" class="img-fluid" alt="Responsive image">
       <a class="" href="{{ url_for('list_weeks') }}"><BR>List All Weeks</a></div>
       <div class="col-xs-12 col-md-8">
          <h3>Week #, in </h3>
        <div class="table-responsive">
        <table class="table table-condensed">
        <thead>
            <tr>
                <th>Plant</th>
                <th>Forecast</th>
                <th>Reserved</th>
                <th>Wanted</th>
                <th>Actual</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="summary">
            
        </tbody>
    </table></div>
       </div>
       
    </div>

 
{% endblock content %}


{% block tail_script %}
    {% if errors == 1 %}
        <script>window.onload = function() {
        	show_modal();
        };</script>
    {% endif %}
    {% if request.args.get('new') == '???' %}
        <script>window.onload = function() {
        	show_modal();
        };</script>
    {% endif %}
    <script>
        window.onload = function() {
    	  call_wk_summ(2017,1);
    	};
        $( function() {
          $( "#datepicker" ).datepicker({
        	  inline: true,
			  showOtherMonths: true,  
        	  onSelect: function(dateText, inst) {
        	        var date = $(this).val();
        	        var parseTime = d3.timeParse('%m/%d/%Y');
        	        var pDate = parseTime(date);
        	        var year = pDate.getFullYear();
        	        var timeFormat = d3.timeFormat('%W');
        	        var week_num = Number(timeFormat(pDate));
        	        call_wk_summ(year,week_num);
        	    }
        	})
        	.datepicker('widget').wrap('<div class="ll-skin-lugo"/>');
        } );
   
        function show_modal() {
            $('.modal').modal('show');
        }
        
        function handle_update(plant_key, week_key, message){
        	var wanted = Number($("span#"+plant_key+"_"+week_key+"_wanted").text());
        	var actual = Number($("span#"+plant_key+"_"+week_key+"_actual").text());
        	update_plantgrow(plant_key,week_key,wanted,actual,message);
        }
        
    </script>
{% endblock tail_script %}
