{% extends "base.html" %}
{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}


    <div class="row">
       <div class="col-xs-12 col-md-12"><h2>Sales Inventory Home</h2></div>
       
       <div class="col-xs-6 col-md-4"><div id="datepicker"><BR> Select A Different Week</div>
       <a class="" href="{{ url_for('list_weeks') }}"><BR>List All Weeks</a></div>
       <div class="col-xs-12 col-md-8">
          <h3>Week #, in </h3>
        <div class="table-responsive">
        <table class="table table-condensed">
        <thead>
            <tr>
                <th>Plant</th>
                <th>Forecast</th>
                <th>Reserved</th>
                <th>Available</th>
                <th>Actual</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="summary">
            
        </tbody>
    </table>
    <p> An asterik *, and plant name in <span class='font-red'>red</span> signifies that there are notes for this plant/week
    </div>
       </div>
       
    </div>

 
{% endblock content %}


{% block footer %}
    {% include 'notes_modal.html' %} {# pull in notes_modal form (modal dialog) #}
{% endblock footer %}

{% block tail_script %}
    <script>
        window.onload = function() {
        	Date.prototype.getWeek = function() {
                var onejan = new Date(this.getFullYear(), 0, 1);
                return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
            }
        	d = new Date();
        	var wk_d = getWeekNumber(d);
        	call_wk_summ(wk_d[0],wk_d[1]);
    	};
        $( function() {
          $( "#datepicker" ).datepicker({
        	  inline: true,
			  showOtherMonths: true,  
        	  onSelect: function(dateText, inst) {
        	        var date = $(this).val();
        	        var parseTime = d3.timeParse('%m/%d/%Y');
        	        var pDate = parseTime(date);
        	        var wk_d = getWeekNumber(pDate);
        	        call_wk_summ(wk_d[0],wk_d[1]);
        	    }
        	})
        	.datepicker('widget').wrap('<div class="ll-skin-lugo"/>');
        } );

        
        /* For a given date, get the ISO week number
        *
        * Based on information at:
        *
        *    http://www.merlyn.demon.co.uk/weekcalc.htm#WNR
        *
        * Algorithm is to find nearest thursday, it's year
        * is the year of the week number. Then get weeks
        * between that date and the first day of that year.
        *
        * Note that dates in one year can be weeks of previous
        * or next year, overlap is up to 3 days.
        *
        * e.g. 2014/12/29 is Monday in week  1 of 2015
        *      2012/1/1   is Sunday in week 52 of 2011
        */
       function getWeekNumber(d) {
           // Copy date so don't modify original
           d = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));
           // Set to nearest Thursday: current date + 4 - current day number
           // Make Sunday's day number 7
           d.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay()||7));
           // Get first day of year
           var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
           // Calculate full weeks to nearest Thursday
           var weekNo = Math.ceil(( ( (d - yearStart) / 86400000) + 1)/7);
           // Return array of year and week number
           return [d.getUTCFullYear(), weekNo];
       }
        
        function show_modal() {
            $('.modal').modal('show');
        }
        
        function handle_update(plant_key, week_key, message){
        	var wanted = Number($("span#"+plant_key+"_"+week_key+"_wanted").text());
        	var actual = Number($("span#"+plant_key+"_"+week_key+"_actual").text());
        	update_plantgrow(plant_key,week_key,wanted,actual,message);
        }
        
        var modal = document.getElementById('myModal');

        var notes = {
          notes_1: [{
            note: 'This is great',
            added_by: 'J-Dawg',
            add_date: '01/11/2017'
          }, {
            note: 'Well it is not that great',
            added_by: 'Mister T',
            add_date: '01/12/2017'
          }]
        }


        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        function adjust_data(inData){
        	return inData;
        }
        
        function showNotes(notesId) {
        	  // store the notes id
        	  console.log("showing for notes: " + notesId)
        	  d3.select('[id="note_id_storage"]').text(notesId);
        	  d3.select('[id="note_title"]').text("notes for id: " + notesId);
        	  // get notes
        	  //var myNotes = getNotes(notesId);
        	  get_notes(notesId, function(myNotes){
        	     var arrayLength = myNotes.length;
        	     for (var i = 0; i < arrayLength; i++) {
        	       addNoteRow(notesId, myNotes[i].noteId, myNotes[i]);
        	     }
        	     if (arrayLength == 0) {
        	       d3.select(".modal-body").append("h3").attr('class', 'no-note-msg').text("No existing notes");
        	     }
        	     modal.style.display = "block";
        	  });
        }
        
     // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          d3.select(".no-note-msg").remove();
          modal.style.display = "none";
          d3.selectAll('tr.added-note').remove();
        }

        function removeNote(notes_id, row_id) {
          // to be converted to ajax function
          var noteId = Number(row_id.split("-")[1]);
          var new_notes = [];
          var myNotes = getNotes(notes_id);
          var arrayLength = myNotes.length;
          for (var i = 0; i < arrayLength; i++) {
            if (i != noteId) {
              new_notes.push(myNotes[i]);
            }
          }
          var newLength = new_notes.length;
          if (newLength == 0) {
            d3.select(".modal-body").append("h3").attr('class', 'no-note-msg').text("No existing notes");
          }
          saveNotes(notes_id, new_notes);
        }

        function addNote(notes_id, anote) {
          // to be converted to ajax function
          var myNotes = getNotes(notes_id);
          var arrayLength = myNotes.length;
          myNotes.push(anote);
          saveNotes(notes_id, myNotes);
          return arrayLength;
        }

        function getNotes(notesId) {
          // to be converted to ajax function
          var row = "notes_" + notesId;
          if (notes.hasOwnProperty(row)) {
            return notes[row];
          }
          notes[row] = [];
          return [];
        }

        function saveNotes(notesId, argNotes) {
          var row = "notes_" + notesId;
          notes[row] = argNotes;
        }

        var button = document.getElementById('note-add');
        var formatADate = d3.timeFormat("%m/%d/%Y")
        button.onclick = function() {
          d3.select(".no-note-msg").remove();
          var notesId = d3.select('[id="note_id_storage"]').text();
          var anote = $("#note-input").val();

          if (anote.length > 0) {
            var addDay = formatADate(new Date());
            // add ajax call to add to service
            var noteInfo = {
              note: anote,
              added_by: 'current user',
              add_date: addDay
            };
            save_note(notesId, noteInfo, function(notesId, noteId, noteInfo){
            	addNoteRow(notesId,noteId,noteInfo);
            });
            
          }


          $("#note-input").val("");
        }

        function addNoteRow(notesId, noteId, noteInfo) {
          var tr = d3.select('[id="modal-table"]')
            .select('tbody').append('tr');
          tr.attr('class', 'added-note')
            .attr('id', noteId)
            .append('td')
            .text(noteInfo.note);
          tr.append('td').text(noteInfo.added_by);
          tr.append('td').text(noteInfo.added_date);
          tr.append('td').attr('id','del_'+noteInfo.noteId)
            .html('<span class="close">&times;</span>')
            .on('click', function() {
            	var delNote = Number(d3.select(this.parentNode).attr('id'));
                delete_note(delNote);
                 d3.select(this.parentNode).remove();
            });
        }
        
    </script>
{% endblock tail_script %}
