{% extends "base.html" %}
{% block style_block %}
<!--     <style type="text/css">
        table.ta1ble { width: 60%; }
    </style> -->
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-xs-12 col-md-12"><h2>Week Summary for {{ plant.display_name }}</h2></div>
    <!--<div id='summary-top' class="col-xs-6 col-md-4"> <img src="/static/img/{{ plant.image_name }}" alt="{{ plant.display_name }}" class="img-thumbnail"> </div>-->
    <div class="col-xs-12 col-md-12"><h3 id="">GROWING: {{ plant.display_name }}, for week {{ week.week_number }}, {{ week.year }}</h3></div>
    <!-- <div class="col-xs-6 col-md-4">&nbsp;</div>  -->
    <div class="col-xs-12 col-md-12">
    <div class="table-responsive">
    <table id="plantgrowsupply-table" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Forecast</th>
                <th>Confirmation Number</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for plantweek in pweeks %}

            <tr id='{{ plantweek.id }}'>
                <td id='{{ plantweek.id }}_supplier'>{{ plantweek.supplier.get().name }}</td>
                <td id='{{ plantweek.id }}_forecast'>{{ plantweek.forecast }}</td>
                <td id='{{ plantweek.id }}_confirmation_num'>{{ plantweek.confirmation_num }}</td>
                <td id='{{ plantweek.id }}_buttons'>
                    <a id='{{ plantweek.id }}_edit' class="btn btn-primary edit_row" onclick="edit_row('{{ plantweek.id }}','plantgrowsupply')">Edit</a>
                    <a id='{{ plantweek.id }}_save' class="btn btn-primary save_row" onclick="save_row('{{ plantweek.id }}','plantgrowsupply')">Save</a>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="8">No weeks Found</td></tr>
            {% endfor %}
        </tbody>
    </table></div>
    <p>
        <a class="btn btn-primary" onclick='add_row("plantgrowsupply")'>
            <i class="icon-plus-sign icon-white"></i>
            Add Crop
        </a>
    </p></div>
   <!-- <div class="col-xs-6 col-md-4">&nbsp;</div> -->
    <div class="col-xs-12 col-md-12"><h3 id="">RESERVED: {{ plant.display_name }}, for week {{ week.week_number }}, {{ week.year }}</h3></div>
   <!--  <div class="col-xs-6 col-md-4">&nbsp;</div> -->
    <div class="col-xs-12 col-md-12">
    <div class="table-responsive">
    <table id="productreserve-table" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Product Name</th>
                <th>Product Reserve</th>
                <th>{{ plant.display_name }}(s) Reserved</th>
            </tr>
        </thead>
        <tbody>
            {% for crw in creserve %}

            <tr id='{{ crw.id }}'>
                <td id='{{ crw.id }}_customer'>{{ crw.pr.customer.get().customer_name }}</td>
                <td id='{{ crw.id }}_product'>{{ crw.pr.product.get().name }}</td>
                <td id='{{ crw.id }}_num_reserved'>{{ crw.pr.num_reserved }}</td>
                <td id='{{ crw.id }}_plreserved'>{{ crw.plant_reserve }}</td>
                <td id='{{ crw.id }}_buttons'>
                    <a id='{{ crw.id }}_edit' class="btn btn-primary edit_row" onclick="edit_row('{{ crw.id }}','productreserve')">Edit</a>
                    <a id='{{ crw.id }}_save' class="btn btn-primary save_row" onclick="save_row('{{ crw.id }}','productreserve')">Save</a>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="8">No weeks Found</td></tr>
            {% endfor %}
        </tbody>
    </table></div>
    <p>
        <a class="btn btn-primary" onclick='add_row("productreserve")'>
            <i class="icon-plus-sign icon-white"></i>
            Add Reserve
        </a>
    </p></div></div>



{% endblock content %}

{% block tail_script %}
    {% if errors == 1 %}
        <script>window.onload = function() {
        	show_modal();
        };</script>
    {% endif %}
    {% if request.args.get('new') == 'yes' %}
        <script>window.onload = function() {
        	show_modal();
        };</script>
    {% endif %}
    <script>
       var supp_options = []
       var prod_options = []
       var cust_options = []
       var week_id = {{ week.id }}
       var plant_id = {{ plant.id }}
    </script>
    {% for supplier in suppliers %}
        <script> supp_options.push("{{ supplier.name|safe }}:{{ supplier.id }}")</script>
    {% endfor %}
    {% for customer in customers %}
        <script> cust_options.push("{{ customer.customer_name|safe }}:{{ customer.id }}")</script>
    {% endfor %}
    {% for product in products %}
        <script> prod_options.push("{{ product.name|safe }}:{{ product.id }}")</script>
    {% endfor %}
    <script>
        window.onload = function() {
    	    get_notes({{ plantgrow }},display_notes);
        };
        sOptions = {supplier:supp_options}
        rOptions = {customer:cust_options, product:prod_options}
        sFields = {supplier:'o',forecast:'i',confirmation_num:'i'}
        rFields = {customer:'o',product:'o',num_reserved:'i'}
        
        function add_row(type){
        	if (type == 'plantgrowsupply'){
        		addRow("plantgrowsupply",sOptions, sFields, {plantgrow: {{ plantgrow }} });
        	}
        	if (type == 'productreserve'){
        		addRow("productreserve",rOptions, rFields, {finish_week: {{ week.id }} });
        	}
        }
        function edit_row(rowId, model_name){
        	if (model_name == 'productreserve'){
        		editRow(rowId,rOptions,rFields);
        	}
        	if (model_name == 'plantgrowsupply'){
        		editRow(rowId,sOptions,sFields);
        	}
        }
        
        function save_row(rowId, model_name){
        	if (model_name == 'productreserve'){
        		saveRow(rowId,rOptions,rFields, {service_name: 'customer_reserve', week: week_id, plant: plant_id});
        	}
        	if (model_name == 'plantgrowsupply'){
        		saveRow(rowId,sOptions,sFields, {service_name: 'supplier_plants', week: week_id, plant: plant_id});
        	}
        }
        
        $( function() {
            $( "#week_monday" ).datepicker({
            	  dateFormat: "yy-mm-dd"
            });});
       
        function show_modal() {
            $('.modal').modal('show');
        }

    </script>
{% endblock tail_script %}
