{% extends "base.html" %}
{% block style_block %}
<!--     <style type="text/css">
        table.ta1ble { width: 60%; }
    </style> -->
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-xs-12 col-md-12">
    <table><tr><td>
    <form method="get" action="/plantweek/{{ prior }}"><button class="btn btn-primary">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">Prior Week</span></button></form></td><td>
    <h2>Summary for {{ plant.display_name }} (Week {{ week.week_number }}, {{ week.year }})</h2>
    </td><td><form method="get" action="/plantweek/{{ next }}"><button class="btn btn-primary">
    Next Week<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button></form></td></tr>
    <tr><td align="center"><h5>Prior Week Avail: <span id='pri_plant_avail'></span></h5></td>
    <td align="center"><h5>Availability: <span id='plant_avail'> {{ availability }}</span></h5></td>
    <td align="center"><h5>Next Week Avail: <span id='nxt_plant_avail'></span></h5></td></tr>
    </table>
    <br><br>
    </div>
    <!--<div id='summary-top' class="col-xs-6 col-md-4"> <img src="/static/img/{{ plant.image_name }}" alt="{{ plant.display_name }}" class="img-thumbnail"> </div>-->
    
    <div class="col-xs-12 col-md-12"><h3 id="">NOTES: </h3></div>
    <!-- <div class="col-xs-6 col-md-4">&nbsp;</div>  -->
    <div class="col-xs-12 col-md-12">
    <div class="table-responsive">
    <table id="notes-table" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Note</th>
                <th>Added By</th>
                <th>Added Date</th>
            </tr>
        </thead>
    </table></div>
    <p>
        <a class="btn btn-primary" onclick='showNotes({{ plantgrow }})'>
            <i class="icon-plus-sign icon-white"></i>
            Add Note
        </a>
    </p></div>
    
    <div class="col-xs-12 col-md-12"><h3 id="">GROWING: </h3></div>
    <!-- <div class="col-xs-6 col-md-4">&nbsp;</div>  -->
    <div class="col-xs-12 col-md-12">
    <div class="table-responsive">
    <table id="plantgrowsupply-table" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Forecast</th>
                <th>Confirmation Number</th>
                <th> -- action -- </th>
            </tr>
        </thead>
        <tbody>
            {% for plantweek in pweeks %}

            <tr id='{{ plantweek.id }}'>
                <td id='{{ plantweek.id }}_supplier'>{{ plantweek.supplier.get().name }}</td>
                <td id='{{ plantweek.id }}_forecast'>{{ plantweek.forecast }}</td>
                <td id='{{ plantweek.id }}_confirmation_num'>{{ plantweek.confirmation_num }}</td>
                <td id='{{ plantweek.id }}_buttons'>
                    <a id='{{ plantweek.id }}_edit' class="btn btn-primary edit_row" onclick="edit_row('{{ plantweek.id }}','plantgrowsupply')">Edit</a>
                    <a id='{{ plantweek.id }}_save' class="btn btn-primary save_row" onclick="save_row('{{ plantweek.id }}','plantgrowsupply')">Save</a>
                </td>
            </tr>
            
            {% endfor %}
           <tfoot>
            <tr>
                <th>Supplier</th>
                <th>Forecast</th>
                <th>Confirmation Number</th>
                <th> -- action -- </th>
            </tr>
        </tfoot>
        </tbody>
    </table></div>
    <p>
        <a class="btn btn-primary" onclick='add_row("plantgrowsupply")'>
            <i class="icon-plus-sign icon-white"></i>
            Add Crop
        </a>
    </p></div>
    
   <!-- <div class="col-xs-6 col-md-4">&nbsp;</div> -->
    <div class="col-xs-12 col-md-12"><h3 id="">RESERVED:</h3></div>
   <!--  <div class="col-xs-6 col-md-4">&nbsp;</div> -->
    <div class="col-xs-12 col-md-12">
    <div class="table-responsive">
    <table id="productreserve-table" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Product Name</th>
                <th>Product Reserve</th>
                <th>{{ plant.display_name }}(s) Reserved</th>
                <th> -- action -- </th>
            </tr>
        </thead>
        <tbody>
            {% for crw in creserve %}

            <tr id='{{ crw.id }}'>
                <td id='{{ crw.id }}_customer'>{{ crw.pr.customer.get().customer_name }}</td>
                <td id='{{ crw.id }}_product'>{{ crw.pr.product.get().name }}</td>
                <td id='{{ crw.id }}_num_reserved'>{{ crw.pr.num_reserved }}</td>
                <td id='{{ crw.id }}_plreserved'>{{ crw.plant_reserve }}</td>
                <td id='{{ crw.id }}_buttons'>
                    <a id='{{ crw.id }}_edit' class="btn btn-primary edit_row" onclick="edit_row('{{ crw.id }}','productreserve')">Edit</a>
                    <a id='{{ crw.id }}_save' class="btn btn-primary save_row" onclick="save_row('{{ crw.id }}','productreserve')">Save</a>
                    <a id='{{ crw.id }}_del' class="btn btn-primary del_row" onclick="del_row('{{ crw.id }}','productreserve')">Delete</a>
                </td>
            </tr>
            
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Customer</th>
                <th>Product Name</th>
                <th>Product Reserve</th>
                <th>{{ plant.display_name }}(s) Reserved</th>
                <th> -- action -- </th>
            </tr>
        </tfoot>
    </table></div>
    <p>
        <a class="btn btn-primary" onclick='add_row("productreserve")'>
            <i class="icon-plus-sign icon-white"></i>
            Add Reserve
        </a>
    </p></div></div>



{% endblock content %}

{% block footer %}
    {% include 'notes_modal.html' %} {# pull in notes_modal form (modal dialog) #}
{% endblock footer %}

{% block tail_script %}
    
     
    <script>
       var supp_options = []
       var prod_options = []
       var cust_options = []
       var week_id = {{ week.id }}
       var plant_id = {{ plant.id }}
       var plantgrow = {{ plantgrow }}
       
     $(document).ready(function() {
    	    $('#productreserve-table').DataTable( {
    	        "scrollY":        "200px",
    	        "scrollCollapse": true,
    	        "paging":         false
    	    } );
    	    
    	    $('#plantgrowsupply-table').DataTable( {
    	        "scrollY":        "200px",
    	        "scrollCollapse": true,
    	        "paging":         false
    	    } );
    	} );
       
    </script>
    {% for supplier in suppliers %}
        <script> supp_options.push("{{ supplier.name|safe }}:{{ supplier.id }}")</script>
    {% endfor %}
    {% for customer in customers %}
        <script> cust_options.push("{{ customer.customer_name|safe }}:{{ customer.id }}")</script>
    {% endfor %}
    {% for product in products %}
        <script> prod_options.push("{{ product.name|safe }}:{{ product.id }}")</script>
    {% endfor %}
    
    
    <script>
    supp_options = supp_options.sort();
    cust_options = cust_options.sort();
    prod_options = prod_options.sort();
    
        window.onload = function() {
    	    get_notes({{ plantgrow }},display_notes);
    	    get_availability({{ prior }},"pri_plant_avail");
    	    get_availability({{ plantgrow }},"plant_avail");
    	    get_availability({{ next }},"nxt_plant_avail");
    	    
        };
        sOptions = {supplier:supp_options}
        rOptions = {customer:cust_options, product:prod_options}
        sFields = {supplier:'o',forecast:'i',confirmation_num:'i',plantgrow:'h'}
        rFields = {customer:'o',product:'o',num_reserved:'i',plant_reserved:'d', finish_week:'h'}
        
        rOrder = ['customer','product','num_reserved','plant_reserved'];
        sOrder = ['supplier','forecast','confirmation_num'];
        
        function add_row(type){
        	var data = {plantgrow: {{ plantgrow }}, finish_week: {{ week.id }}}
        	if (type == 'plantgrowsupply'){
        		data['service_name'] = 'supplier_plants/update/';
        	    data['week'] = week_id;
        	    data['plant'] = plant_id;
        		//addRow("plantgrowsupply",sOptions, sFields, data);
        	    addRowDT("plantgrowsupply",sOptions, sFields, data, sOrder, false);
        	}
        	if (type == 'productreserve'){
        		data['service_name'] = 'customer_reserve/update/';
        	    data['week'] = week_id;
        	    data['plant'] = plant_id;
        	    addRowDT("productreserve",rOptions,rFields,data,rOrder,true);
        		//var _id = "#"+type+"-table tr:last";
        		//var lasOddEven = $(_id).attr('class');
        		//var oddEven = 'even';
        		//if (lasOddEven == 'even'){
        		//	oddEven = 'odd';
        		//}
        		//addRowDel("productreserve",rOptions, rFields, data, true);
        		//$(_id).attr('class',oddEven);
        		//$(_id).attr('role','row');
        	}
        }
        function edit_row(rowId, model_name){
        	if (model_name == 'productreserve'){
        		editRow(rowId,rOptions,rFields);
        	}
        	if (model_name == 'plantgrowsupply'){
        		editRow(rowId,sOptions,sFields);
        	}
        }
        
        function adjust_data(inData){
        	return inData;
        }
        
        function del_row(rowId, model_name){
        	$('#delete_modal').modal('show');
        	$('#modal_del_btn').on('click', function(){
        		if(model_name == 'productreserve'){
        			delRowDT(rowId, rOptions,rFields,{service_name: 'customer_reserve/update/', model_name: model_name, week: week_id, plant: plant_id, plantgrow: {{ plantgrow }}});
        			get_availability({{ plantgrow }},"plant_avail");
        		}
        		else{
        			delRowDT(rowId, sOptions,sFields,{service_name: 'supplier_plants/update/', model_name: model_name, week: week_id, plant: plant_id, plantgrow: {{ plantgrow }}});
        			get_availability({{ plantgrow }},"plant_avail");
        		}
    			
    		}); 
        }
        
   
        
        function save_row(rowId, model_name){
        	if (model_name == 'productreserve'){
        		saveRowDT(rowId,rOptions,rFields, {service_name: 'customer_reserve/update/', week: week_id, plant: plant_id},rOrder,model_name);
        		get_availability({{ plantgrow }},"plant_avail");
        		//get_availability({{ plantgrow }});
        	}
        	if (model_name == 'plantgrowsupply'){
        		saveRowDT(rowId,sOptions,sFields, {service_name: 'supplier_plants/update/', week: week_id, plant: plant_id},sOrder,model_name);
        		get_availability({{ plantgrow }},"plant_avail");
        		//get_availability({{ plantgrow }});
        	}
        }
        
        var modal = document.getElementById('myModal');
     // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        var notes = {
                notes_1: [{
                  note: 'This is great',
                  added_by: 'J-Dawg',
                  add_date: '01/11/2017'
                }, {
                  note: 'Well it is not that great',
                  added_by: 'Mister T',
                  add_date: '01/12/2017'
                }]
              }
        
        function showNotes(notesId) {
      	  // store the notes id
      	  console.log("showing for notes: " + notesId)
      	  d3.select('[id="note_id_storage"]').text(notesId);
      	  d3.select('[id="note_title"]').text("notes for id: " + notesId);
      	  // get notes
      	  //var myNotes = getNotes(notesId);
      	  get_notes(notesId, function(myNotes){
      	     var arrayLength = myNotes.length;
      	     for (var i = 0; i < arrayLength; i++) {
      	       addNoteRow(notesId, myNotes[i].noteId, myNotes[i]);
      	     }
      	     if (arrayLength == 0) {
      	       d3.select(".modal-body").append("h3").attr('class', 'no-note-msg').text("No existing notes");
      	     }
      	     modal.style.display = "block";
      	  });
      }
        span.onclick = function() {
            d3.select(".no-note-msg").remove();
            modal.style.display = "none";
            d3.selectAll('tr.added-note').remove();
            var table = d3.select('[id="notes-table"]');
            table.select('tbody').remove();
            get_notes(plantgrow,display_notes);	
          }

          function removeNote(notes_id, row_id) {
            // to be converted to ajax function
            var noteId = Number(row_id.split("-")[1]);
            var new_notes = [];
            var myNotes = getNotes(notes_id);
            var arrayLength = myNotes.length;
            for (var i = 0; i < arrayLength; i++) {
              if (i != noteId) {
                new_notes.push(myNotes[i]);
              }
            }
            var newLength = new_notes.length;
            if (newLength == 0) {
              d3.select(".modal-body").append("h3").attr('class', 'no-note-msg').text("No existing notes");
            }
            saveNotes(notes_id, new_notes);
          }

          function addNote(notes_id, anote) {
            // to be converted to ajax function
            var myNotes = getNotes(notes_id);
            var arrayLength = myNotes.length;
            myNotes.push(anote);
            saveNotes(notes_id, myNotes);
            return arrayLength;
          }

          function getNotes(notesId) {
            // to be converted to ajax function
            var row = "notes_" + notesId;
            if (notes.hasOwnProperty(row)) {
              return notes[row];
            }
            notes[row] = [];
            return [];
          }

          function saveNotes(notesId, argNotes) {
            var row = "notes_" + notesId;
            notes[row] = argNotes;
          }

          var button = document.getElementById('note-add');
          var formatADate = d3.timeFormat("%m/%d/%Y")
          button.onclick = function() {
            d3.select(".no-note-msg").remove();
            var notesId = d3.select('[id="note_id_storage"]').text();
            var anote = $("#note-input").val();

            if (anote.length > 0) {
              var addDay = formatADate(new Date());
              // add ajax call to add to service
              var noteInfo = {
                note: anote,
                added_by: 'current user',
                add_date: addDay
              };
              save_note(notesId, noteInfo, function(notesId, noteId, noteInfo){
              	addNoteRow(notesId,noteId,noteInfo);
              }); 
            }
            $("#note-input").val("");
          }

          function addNoteRow(notesId, noteId, noteInfo) {
            var tr = d3.select('[id="modal-table"]')
              .select('tbody').append('tr');
            tr.attr('class', 'added-note')
              .attr('id', noteId)
              .append('td')
              .text(noteInfo.note);
            tr.append('td').text(noteInfo.added_by);
            tr.append('td').text(noteInfo.added_date);
            tr.append('td')
              .attr('id','del_'+noteId)
              .html('<span class="close">&times;</span>')
              .on('click', function() {
                   var delNote = Number(d3.select(this.parentNode).attr('id'));
                   delete_note(delNote);
                   d3.select(this.parentNode).remove();
              });
          }
        
        $( function() {
            $( "#week_monday" ).datepicker({
            	  dateFormat: "yy-mm-dd"
            });});
       
        function show_modal() {
            $('.modal').modal('show');
        }

    </script>
{% endblock tail_script %}
