{% extends "base.html" %}
{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Plant Growing, for week {{ week.week_number }}, {{ week.year }}</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Plant</th>
                <th>Wanted</th>
                <th>Actual</th>
                <th>Forecast</th>
                <th>Reserved</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for pg in plantgrows.keys() %}

            <tr>
                <td>{{ pg }}</td>
                <td>{{ plantgrows[pg].wanted }}</td>
                <td>{{ plantgrows[pg].actual }}</td>
                <td>{{ plantgrows[pg].forecast }}</td>
                <td>{{ plantgrows[pg].reserved }}</td>
                <td>
                    <form method="get" action="{{ url_for('show_plantweek', week_id=week.id, plant_id=plantgrows[pg]['plant_key']) }}">
                        <button class="btn">View</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="8">No weeks Found</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
   
    </p>



{% endblock content %}

{% block tail_script %}
    {% if errors == 1 %}
        <script>window.onload = function() {
        	show_modal();
        };</script>
    {% endif %}
    {% if request.args.get('new') == 'yes' %}
        <script>window.onload = function() {
        	show_modal();
        };</script>
    {% endif %}
    <script>
        $( function() {
            $( "#week_monday" ).datepicker({
            	  dateFormat: "yy-mm-dd"
            });});
       
        function show_modal() {
            $('.modal').modal('show');
        }
    </script>
{% endblock tail_script %}
